@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --c-white: #FFFFFF;
  --c-primary: #5ECE7B;
  --c-text: #1D1F22;
  --c-text-two: #8D8F9A;
  --c-bg:#EEEEEE;
  --c-text-three: #E5E5E5;
}
body {
font-family: 'Raleway', sans-serif;
margin: 0 0 100px 0;
}
a {
  text-decoration: none;
}